@import "tailwindcss";

@keyframes floatFlower {
  0% {
    transform: translateY(0px) rotate(0deg) scale(1);
  }
  33% {
    transform: translateY(-25px) translateX(15px) rotate(45deg) scale(1.05);
  }
  66% {
    transform: translateY(15px) translateX(-15px) rotate(90deg) scale(0.95);
  }
  100% {
    transform: translateY(0px) rotate(0deg) scale(1);
  }
}

.animate-float-flower {
  animation: floatFlower ease-in-out infinite alternate;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 20s linear infinite;
}
